@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --medium-grey-st: hsl(216, 12%, 54%, 0.2);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}

card {
  background-color: var(--dark-blue);
  width: 90%;
  max-width: 35ch;
  padding: 25px;
  border-radius: 1.5em;
  margin: 8em auto;
  height: 320px;
}

.star-img {
  width: 15px;
  background-color: var(--medium-grey-st);
  border-radius: 50%;
  padding: 10px;
  margin-bottom: 15px;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.paragraph {
  line-height: 1.7;
  font-weight: 400;
  font-size: 0.95rem;
  color: var(--light-grey);
  margin-bottom: 25px;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.rating-options {
  display: flex;
  justify-content: space-between;
  margin: 1.7em 0;
  font-weight: bold;
  flex-wrap: wrap;
  text-align: center;
}

.opt {
  display: block;
  position: relative;
  width: 3rem;
  height: 0;
  padding-bottom: 3rem;
  background-color: var(--medium-grey-st);
  line-height: 3.5;
  color: var(--light-grey);
  border-radius: 50%;
  cursor: pointer;
}
.opt:not(.selected):hover {
  background-color: var(--medium-grey);
}

.selected {
  color: var(--white);
  background-color: var(--orange);
}

#submit {
  width: 100%;
  border: none;
  border-radius: 15px;
  padding: 12px;
  color: var(--white);
  font-size: 0.9rem;
  letter-spacing: 2.5px;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  background-color: var(--orange);
}

#submit:hover {
  background-color: var(--white);
  color: var(--orange);
}

.end {
  display: none;
  //display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.thankyou-img {
  margin: 20px 0;
}

.rating {
  background-color: var(--medium-grey-st);
  color: var(--orange);
  border-radius: 1em;
  padding: 0.4em 1.3em;
  display: inline-block;
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
    body{
        margin: 25px;
    }
    card {
      padding: 1.9em;
      margin: 9em auto;
    }

    .title {
        font-size: 1.5rem;
      }
      
      .paragraph {
        font-size: 0.82rem;
      }